APP_PORT=3000
API_TOKEN_PATH=../secrets/api-token.txt
MAX_FILE_BYTES=52428800
MAX_PIXELS=40000000
QUOTA_BYTES=10737418240
MIN_FREE_BYTES=2147483648
VK_GROUP_ID=quetzalcoatl_cosplay
VK_TOKEN_PATH=../secrets/vk-token.txt
VK_DONUT_REFERENCE_POST=
VK_DONUT_PERMANENT_CONFIRMED_POST=
VK_PHOTO_PRIVACY_VERIFIED=false
VK_TIMEOUT_MS=60000
